{% extends 'base.html' %}
{% load comments %}

{% block content %}
  {% for feed_item in object_list %}
  <div class="post">
    <h2 class="post-title"><a href="{{ feed_item.link }}">{{ feed_item.title }}</a></h2>
    <p class="post-meta">{{ feed_item.feed.title }} | {{ feed_item.date_modified }} | <a href="#">{{ feed_item.author }}</a></p>
    {{ feed_item.summary|safe|truncatechars:200 }}
    
  </div><!-- /.post -->
  <div class="post-read-more">
    <a class="btn btn-primary btn-sm" href="{{ feed_item.link }}">Read more</a>
  </div>
  {% empty %}
    <h4>No posts yet.</h4>
  {% endfor %}

  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
    {% endif %}
  </ul>
{% endblock %}
