{% extends 'base.html' %}
{% block content %}
  <h2 class="ui inverted black block header">{{ noticia.titulo }}</h2>
  <p>{{ noticia.conteudo|safe|linebreaks }}</p>
  <p class="ui right header aligned">
    <strong>{{ noticia.usuario }}</strong>
  </p>

  <div class="ui grid">
    <div class="twelve wide column">
      <i>{{ noticia.data }}</i>
    </div>
     <div class="twelve wide column">
      <i>Visualizações : {{ noticia.visualizacoes }}</i>
    </div>
    <div class="four wide column">
      <a class="circular ui teal animated button" href="{% url 'home' %}">
        <div class="visible content">Voltar</div>
        <div class="hidden content"><i class="left arrow icon"></i></div>
      </a>
    </div>
  </div>
{% endblock content %}
