.header{
	height: 200px;
	margin: 0 auto;
	background-color: #B0CADF;/*#176161*/
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,.3));
	padding: 1% 8% 0% 8%;
}

.pagina{
}

.cl{
	clear: both;
	height: 0px;
}

.selected_menu{
    color: #c43c35 !important;
    box-shadow: 0 .2em 0 inset;
}

.participante_item{
	overflow: hidden;
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 3px;
	border-radius: 6px; 
}