{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.tabela_cadastro').children().children().each(function(index){
			$(this).children('td').addClass('ui input field input_tabela');
			$(this).children('th').addClass('ui pointing right label label_tabela');
		});
		$('#id_genero').addClass('ui selection dropdown dropdown_custom');
		
		$('#id_foto').parent().addClass('upload');

		selecionaMenu('membro_cad');
	});
</script>
<style type="text/css">
	.icon_custom{
		position: absolute;
		left: 5px;
		top:5px;	
	}
	.dropdown_custom{
		border:0.01em solid #aaa !important;
	}
	.cadastro_pessoas{
		margin-top: 15px;
		padding: 10px;
	}
	.label_tabela{
		margin-top: -9px !important;
		text-align: right;
	}
	.input_tabela{
		width: 100%;
	}
	.input_tabela input{
		padding: 9px !important;
	}
	.upload{
		position: relative;
	}
	textarea{
		border-color:gray;
		resize:vertical;
	}
</style>
 <h3 class="ui inverted black block header">Entre para o Grupo</h3>
 <form method="post" id="form" action="." class="cadastro_pessoas" enctype="multipart/form-data">
 	{% csrf_token %}
    <table cellpadding="0" class="tabela_cadastro ui form">
        {{ form.as_table }}
    	{{ formset.as_table }}
 	</table>
 	<div style="text-align:center !important">
   		<input type="submit" value="Cadastrar" class="ui circular teal button" />
 	</div>
</form>
{% endblock content %}
