{% extends 'base.html' %}
{% block content %}

<div class="ui grid">
  <div class="row">
    <div class="four wide column">
      <a class="circular ui image">
        <img src="{{ membro.foto.url }}">
      </a>
    </div>
    <div class="twelve wide column">
      <h1 class="ui block center aligned header">
        {{ membro.nome }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve wide column">
      {% if membro.url %}<a href="{{ membro.url }}" target="_blank">{{ membro.url }}</a>{% endif %}
    </div>
    <div class="four wide column">
      <p><i>Nascido: {{ membro.data_nascimento|date:"d/m/Y" }}</i></p>
      <p><i>{{ membro.email }}</i></p>
    </div>
  </div>
  <div class="row">
    <div class="wide column">
      {{ membro.descricao|linebreaks }}
    </div>
  </div>
  <div class="row">
    <div class="twelve wide column">
    </div>
    <div class="four wide column">
      <a class="circular ui teal animated button" href="{% url 'home' %}">
        <div class="visible content">Página inicial</div>
        <div class="hidden content"><i class="left arrow icon"></i></div>
      </a>
    </div>
  </div>
</div>

{% endblock content %}