{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for feed_item in object_list %}
      <div class="post-preview">
        <a href="{{ feed_item.link }}" target="_blank" title="{% trans 'Read more' %}">
          <h2 class="post-title">{{ feed_item.title }}</h2>
          <h3 class="post-subtitle">
              {{ feed_item.summary|safe|truncatechars:300 }}
          </h3>
        </a>
        {% if feed_item.author %}
        {% blocktrans with public_url=feed_item.feed.public_url author=feed_item.author feed=feed_item.feed.title date_modified=feed_item.date_modified|date:"F j, o" %}
        <p class="post-meta">Posted by <a href="{{ public_url }}">{{ author }} | {{ feed }}</a> on {{ date_modified }}</p>
        {% endblocktrans %}
        {% else %}
        {% blocktrans with public_url=feed_item.feed.public_url feed=feed_item.feed.title date_modified=feed_item.date_modified|date:"F j, o" %}
        <p class="post-meta">Posted by <a href="{{ public_url }}">{{ feed }}</a> on {{ date_modified }}</p>
        {% endblocktrans %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <hr />

  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous">
      <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans 'Newer Posts' %}</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
        <a href="?page={{ page_obj.next_page_number }}">{% trans 'Older Posts' %} &rarr;</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}
