{% extends 'base.html' %}

{% block crumb %}
  {% for feed_item in object_list %}
  <div class="body">
    <h2>
      <a href="{{ feed_item.link }}">{{ feed_item.title }}</a>
    </h2>
    <p class="lead">
        by <a href="#">{{ feed_item.author }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ feed_item.date_modified }} in <a href="{{ feed_item.feed.public_url }}" title="Follow us" target="_blank">{{ feed_item.feed.title }}</a></p>
    <p>{{ feed_item.summary|safe|truncatechars:300 }}</p>
    <a class="btn btn-primary" href="{{ feed_item.link }}" title="Read more" target="_blank">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  {% endfor %}
  <hr />
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous">
      <a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
      <a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}
