{% load bootstrap3 %}
{% load comments %}

{% get_comment_form for object as form %}
<hr />
<h5> Comment form</h5>
<form class="form" action="{% comment_form_target %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{% url 'blog:detail' object.slug %}" />
  <div class="row">
    <div class="{% if not request.user.is_authenticated %}col-md-6{% else %}col-md-12{% endif %}">
      {% bootstrap_field form.content_type %}
      {% bootstrap_field form.object_pk %}
      {% bootstrap_field form.timestamp %}
      {% bootstrap_field form.security_hash %}
    {% if not request.user.is_authenticated %}
      {% bootstrap_field form.name %}
      {% bootstrap_field form.email %}
      {% bootstrap_field form.url %}
    </div>
    <div class="col-md-6">
    {% endif %}
      {% bootstrap_field form.comment %}
    </div>
  </div>
  {% buttons %}
      <button type="submit" class="btn btn-primary btn-sm" name="submit">
        {% bootstrap_icon "ok" %} Confirm
      </button>
      <a class="btn btn-default btn-sm comment-btn">
        {% bootstrap_icon "remove" %} Cancel
      </a>
  {% endbuttons %}
</form>
