{% extends 'base.html' %}
{% block content %}
	<h2 class="ui inverted black block header">{{ projeto.nome }}</h2>
	<p>{{ projeto.descricao| linebreaks }}</p>
	<br />

	<div class="ui grid">
	    <div class="four wide column"></div>
	    <div class="four wide column"></div>
	    <div class="four wide column">
			<a class="circular ui teal animated button" href="{{ projeto.url }}">
				<div class="visible content">
				Contribua
				</div>
				<div class="hidden content">
					<i class="thumbs up outline icon"></i>
				</div>
			</a>
		</div>
		<div class="four wide column">
			<div class="circular ui teal animated button" onclick="history.back(-1)">
				<div class="visible content">Voltar</div>
				<div class="hidden content"><i class="left arrow icon"></i></div>
			</div>
	    </div>
  </div>
{% endblock content %}