{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">

  <title>Minas - Python Users Group</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
  <div class="box-logo">
    <img src="" alt="Logo Python"/>
    <h1>Python Users Group - Minas</h1>
  </div>
  <div class="box-menu">
    <ul class="nav">
      <li>
        <a href="#" title="Home"><i class="icon ic-menu ic-python"></i>Home</a>
      </li>
      <li>
        <a href="#" title="Home"><i class="icon ic-menu ic-python"></i>Membros</a>
      </li>
      <li>
        <a href="#" title="Home"><i class="icon ic-menu ic-python"></i>Projetos</a>
      </li>
      <li>
        <a href="#" title="Home"><i class="icon ic-menu ic-python"></i>Contato</a>
      </li>
    </ul>
  </div>
</header>
<div class="row box-content">
  <div class="col-xs-8 box-feeds">
    {% block feeds %}
    {% endblock %}
  </div>
  <div class="col-xs-4 box-right">
    <div class="row box-members">
      <h3>Members</h3>
      <div class="row body">
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
        <div class="col-xs-3">
          <img src="" alt="My Picture" />
          <span>My name</span>
        </div>
      </div>
      <div class="box-register">
        <a href="#" title="Github">Github</a>
        <a href="#" title="Google Plus">Google+</a>
      </div>
    </div>
    <div class="row box-pyjobs">
      <h3>PyJobs</h3>
      <div class="body">
      </div>
    </div>
    <div class="row box-twitter">
      <h3>TwitterAPI</h3>
      <div class="body">
        <ul class="nav">
        {% for tweet in tweets %}
          <li>{{ tweet.text|safe }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>Copyright 2014</p>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>
