{% extends 'base.html' %}

{% block content %}
  <div class="wide column">
    {% for noticia in noticias %}
      {% if forloop.first %}

        <h2 class="ui inverted black block header">{{ noticia.titulo }}</h2>
        <p>{{ noticia.conteudo|linebreaks|truncatechars:"200" }}</p>

        <div class="ui grid">
          <div class="twelve wide column">
            <i>{{ noticia.data }}</i>
          </div>
          <div class="four wide column">
            <a class="circular ui teal animated button" href="{% url 'noticia_detalhe' noticia.id %}">
              <div class="visible content">Continuar lendo</div>
              <div class="hidden content"><i class="right arrow icon"></i></div>
            </a>
          </div>
        </div>

      <div class="ui section divider"></div>
      <h3 class="ui header">Fique por dentro</h3>
      {% else %}
        <div class="ui animated selection list">
          <div class="item">
            <a href="{% url 'noticia_detalhe' noticia.id %}">{{ noticia.titulo }}</a>
            <div class="right floated">{{ noticia.data|date:"d/m/Y"}}</div>
          </div>
        </div>
      {% endif %}
    {% empty %}
      <p><i>Nenhuma noticia cadastrada.</i></p>
    {% endfor %}
  </div>
{% endblock content %}