{% extends 'base.html' %}

{% block content %}
  <div class="wide column">
    {% if noticias %}
      {% for noticia in noticias %}
        <div class="postagem">
          <div class="titulo_mensagem">
            {{ noticia.titulo }}
          </div>
          <span class="publicado_em">{{ noticia.data }} publicado por {{ noticia.usuario }}</span>
          <div class="conteudo">
            {{ noticia.conteudo }}
          </div>
          <div style="text-align:right;font-size:12px;">
            <a href="/noticias/{{ noticia.id }}">Continue lendo</a>
          </div>
        </div>
      {% endfor %}
      <div style="margin:0 auto !important;text-align:center !important">
        <div class="ui pagination menu">
          <!-- <span class="step-links"> -->
            {% if noticias.has_previous %}
              <a class="icon item" href="?page={{ noticias.previous_page_number }}">
                <i class="icon left arrow"></i>
                Voltar
              </a>
            {% endif %}
            <!-- <span class="current"> -->
            <div class="item">
              Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}
            <!-- </span> -->
            </div>
            {% if noticias.has_next %}
              <a class="icon item" href="?page={{ noticias.next_page_number }}">
                Próximo
                <i class="icon right arrow"></i>
              </a>
            {% endif %}
          <!-- </span> -->
        </div>
      </div>
    {% else %}
      <p><i>Nenhuma noticia cadastrada.</i></p>
    {% endif %}
  </div>
{% endblock content %}