<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Python Minas</title>
  <link rel="stylesheet" type="text/css" href="/static/css/maintenance.css" />
</head>
<body>
<table class="maintenance">
  <tbody>
    <tr>
      <td>
        <h1>
          <a href="#" title="Python Users Groups - Minas">
            <img src="/static/img/logo-homepage.png" alt="Python Users Groups - Minas" />
          </a>
        </h1>
        <h2>Página em manutenção, acompanhe através das mídias sociais!</h2>
        <div class="social-bar">
          <a href="https://groups.google.com/forum/#!forum/python-mg" title="Entre do nosso fórum, e tire suas dúvidas!" target="_blank">
            <i class="social google-groups"></i>
          </a>
          <a href="http://www.meetup.com/Belo-Horizonte-Python-User-Group/" title="Participe ainda mais dos nossos encontros!" target="_blank">
            <i class="social meetup"></i>
          </a>
          <a href="https://github.com/python-mg" title="Contribua com nossos projetos open-source!" target="_blank">
            <i class="social github"></i>
          </a>
          <a href="https://twitter.com/pythonmg" title="Acompanhe em tempo real a comunidade!" target="_blank">
            <i class="social twitter"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCrQjZ8bHePsrAqaKgSmKPPQ" title="Assine nosso canal, e aprenda muito mais!" target="_blank">
            <i class="social youtube"></i>
          </a>
        </div>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>
