{% extends "base.html" %}
{% block content %}

<div class="wide column">
	<h3 class="ui inverted black block header">{{ flatpage.title }}</h3>
	<p>{{ flatpage.content|linebreaks }}</p>

	<div class="ui grid">
	    <div class="four wide column"></div>
	    <div class="four wide column"></div>
	    <div class="four wide column"></div>
		<div class="four wide column">
			<div class="circular ui teal animated button" onclick="history.back(-1)">
				<div class="visible content">Voltar</div>
				<div class="hidden content"><i class="left arrow icon"></i></div>
			</div>
	    </div>
  </div>

</div>

{% endblock content %}